<html>

<head>
  <meta charset="utf-8" />
  <title>Seu acesso para o controla fácil chegou! 🎉 </title>
</head>

<body style="
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
      font-size: 12px;
      line-height: 1.5;
      color: #666;
      background-color: #fff;
      margin: 0;
    ">
  <table align="center" width="600px" border="0" cellspacing="0" cellpadding="0" min-scale="0.7033333333333334">
    <tbody>
      <tr>
        <td style="border-collapse: collapse">
          <table border="0" role="presentation" style="width: 100%">
            <tbody>
              <tr>
                <td>
                  <p lang="pt-BR"
                    style="text-align: center; margin: 3em 0 1em 0; font-size: 14px; font-family: helvetica, verdana, Geneva, sans-serif, serif, EmojiFont; ">
                    <strong>Olá <span style="color: #3E74D6">{{firstName}}</span>!</strong>
                  </p>

                </td>
              </tr>
              <tr>
                <td>
                  <p lang="pt-BR"
                    style="text-align: justify; margin: 3em 0 1em 0; font-size: 14px; font-family: helvetica, verdana, Geneva, sans-serif, serif, EmojiFont; ">
                    A partir de agora, você pode acessar o seu controla fácil. 😊 Ele será seu
                    melhor amigo no dia a dia. Então, já salva na sua barra de favoritos!
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p lang="pt-BR"
                    style="text-align: center; font-size: 16px; padding-top: 8px;padding-bottom: 8px; margin-bottom: 16px; font-family: helvetica, verdana, Geneva, sans-serif, serif, EmojiFont; background-color: #3E74D6;color: #fff; ">
                    <strong>Confira algumas das principais funcionalidades do nosso sistema:</strong>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <ul style="font-size: 14px; font-family: helvetica, verdana, Geneva, sans-serif, serif, EmojiFont;">
                    <li>Controlar o seu estoque.</li>
                    <li>Controlar os seus gastos.</li>
                    <li>Controlar suas ordens de serviço.</li>
                    <li>Cadastrar e gerenciar seus clientes.</li>
                    <li>Entrar em contato com nossa central de atendimento e muito mais! </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="{{link}}" target="_blank" rel="noopener noreferrer" originalsrc="{{link}}" style="
                      color: white;
                      margin: 1em auto 0 auto;
                      width: 25vw;
                      font-size: 14px;
                      font-family: verdana, Geneva, sans-serif;
                      text-align: center;
                      background-color: #3E74D6;
                      display: block;
                      text-decoration: none;
                      border-radius: 33px;
                      padding: 15px 45px;
                      -webkit-border-radius: 33px;
                      -moz-border-radius: 33px;
                    " title="Entre já!" data-linkindex="1">
                    Entre já!
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <p lang="pt-BR"
                    style="text-align: center; margin: 3em 0 1em 0; font-size: 14px; font-family: helvetica, verdana, Geneva, sans-serif, serif, EmojiFont; ">
                    Depois de acessar pela primeira vez, não se esqueça de salvar nos seus favoritos! 😊
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr style="padding-top:16px !important;">
        <td align="center" style="padding: 2em 0; border-top: 1px solid #7f8c8d;">
          <p style="color: #7f8c8d; font-size: 12px; font-family: verdana, Geneva, sans-serif, serif, EmojiFont;">
            Enviado por Controla fácil
          </p>
          <p style="color: #7f8c8d; font-size: 12px; font-family: verdana, Geneva, sans-serif, serif, EmojiFont;">
            Rua Senador Teotônio vilela, 501, Cidade nova, Caxias do sul - RS
            </span>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>
